.table {
  width: 100%;
  
  &__cell-album-name:hover {
    background: #f5f5f5;
    cursor: pointer;
  }

  &__header-images {
    width: 100px;
  }

  &__header-offline {
    width: 50px;
  }

  &__is-saved-icon {
    color: gray;

    &--saved {
      color: green;
    }
  }
}
