<table
  mat-table
  [dataSource]="dataSource"
  [class.app-container--top-progress]="isPending"
  class="table mat-elevation-z1">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell
      *matCellDef="let album"
      class="table__cell-album-name"
      [routerLink]="album.isOffline ? 'offline/' + album.id : album.id">{{ album.name }}</td>
  </ng-container>

  <ng-container matColumnDef="imagesCount">
    <th mat-header-cell *matHeaderCellDef class="table__header-images">Images</th>
    <td mat-cell *matCellDef="let album">{{ album.pictures.length }}</td>
  </ng-container>

  <ng-container matColumnDef="isSaved">
    <th mat-header-cell *matHeaderCellDef class="table__header-offline">Offline</th>
    <td mat-cell *matCellDef="let album">
      <button mat-icon-button matTooltip="Click to save or delete" type="button" (click)="saveOrDelete(album)">
        <mat-icon class="table__is-saved-icon" [class.table__is-saved-icon--saved]="album.isOffline">
          offline_pin
        </mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns$ | async2:[]"></tr>
  <tr mat-row *matRowDef="let row; columns: (columns$ | async2:[]);" class="table__row"></tr>
</table>
