<button mat-icon-button class="button-close" type="button" (click)="close.emit()">
  <mat-icon>close</mat-icon>
</button>

<button
  *ngIf="showPreviousButton"
  mat-icon-button
  class="button-previous"
  type="button"
  (click)="showPreviousImage()">
  <mat-icon>chevron_left</mat-icon>
</button>

<button
  *ngIf="showNextButton"
  mat-icon-button
  class="button-next"
  type="button"
  (click)="showNextImage()">
  <mat-icon>chevron_right</mat-icon>
</button>

<img class="picture" [src]="src">
<div class="thumbnails" #thumbnails>
  <img
    *ngFor="let picture of pictures; let pictureIndex=index; trackBy: trackById"
    attr.data-id="{{ picture.id }}"
    class="thumbnails__thumbnail"
    [class.thumbnails__thumbnail--selected]="pictureIndex === selectedIndex"
    [src]="getThumbnailUrlFn(picture.id)"
    [ngStyle]="thumbnailStyles"
    (click)="selectIndex.emit(pictureIndex)"
    (load)="refreshThumbnailStyles(); scrollThumbnailIntoView(selectedIndex)">
</div>
