<h2 class="mat-h2">{{ album?.name }}</h2>

<p app-failed-action *ngIf="isError" (tryAgain)="tryAgain.emit()"></p>

<div *ngIf="album" class="thumbnails">
  <img
    *ngFor="let picture of album.pictures; let pictureIndex=index; trackBy: trackById"
    [src]="getThumbnailUrlFn(picture.id)"
    (click)="showPictureViewer(pictureIndex)"
    class="thumbnails__thumbnail">
  <div *ngFor="let a of [1,2,3,4,5]" class="thumbnails__empty"></div>
</div>

<div *ngIf="isPending && !album" class="app-loader">
  <mat-spinner></mat-spinner>
</div>

<app-picture-viewer
  *cdkPortal
  [pictures]="album.pictures"
  [selectedIndex]="selectedPictureIndex"
  [getPictureUrlFn]="getPictureUrlFn"
  [getThumbnailUrlFn]="getThumbnailUrlFn"
  (selectIndex)="selectedPictureIndex = $event"
  (close)="hidePictureViewer()">
</app-picture-viewer>
