@import "src/theme/base";

.mat-card {
  margin: $main-box-margin 0;
}

.update-info {
  border: 1px solid rgba(black, 0.2);
  box-sizing: border-box;
  display: block;
  height: 200px;
  margin-top: 10px;
  width: 100%;
}

.ngsw-log {
  height: 400px;
  margin-top: 10px;
  width: 100%;
}
