<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="mat-toolbar__title">Offline Demo [ {{ onlineStatus$ | async }} ]</h1>
</mat-toolbar>

<mat-sidenav-container class="mat-sidenav-container">
  <mat-sidenav #sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="albums">Albums</a>
      <a mat-list-item routerLink="service-worker">Service Worker</a>
      <a mat-list-item routerLink="not-found">Not Found</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mat-sidenav-content__padding-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
