@import "src/theme/base";

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.divider {
  flex-grow: 1;
}

.mat-toolbar__title {
  padding-left: 8px;
}

.mat-sidenav-container {
  flex: 1;
}

.mat-sidenav-content__padding-wrapper {
  padding: $main-padding;
}

.is-stable {
  background-color: rgba(white, 0.75);
  border-radius: $main-border-radius;
  font-weight: 500;
  left: 50%;
  min-width: 120px;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 15px;
  transform: translateX(-50%);
  z-index: 9999;
}
